Repository denes44/BudapestMetroDisplay, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, ESPHome, Hardware, Software

.github/labeler.yml:

# Add 'Documentation' label to any change to .md files within the entire repository 
Documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  
ESPHome:
- changed-files:
  - any-glob-to-any-file: esphome/*

Hardware:
- changed-files:
  - any-glob-to-any-file: hardware/*

Software:
- changed-files:
  - any-glob-to-any-file: software/*

Changed webserver thread to daemon
  software/src/BudapestMetroDisplay/webserver.py
Labels: none

Removed unused import
  software/src/BudapestMetroDisplay/webserver.py
Labels: none

Update CHANGELOG.md
  hardware/CHANGELOG.md
Labels: Documentation, Hardware

Update CHANGELOG.md
  software/CHANGELOG.md
Labels: Documentation, Software

On empty schedule response change log level to debug
  software/src/BudapestMetroDisplay/bkk_opendata.py
Labels: none

Bump software version
  software/src/BudapestMetroDisplay/VERSION
Labels: none

Update CHANGELOG.md
  software/CHANGELOG.md
Labels: Documentation, Software

Update VERSION
  software/src/BudapestMetroDisplay/VERSION
Labels: none

Create bug report issue template
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: none

Create issue config
  .github/ISSUE_TEMPLATE/config.yaml
Labels: none

Rename files to .yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: Documentation

Revert "Update issue templates"
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: Documentation

Update bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

Added issue labeler workflow
  .github/advanced-issue-labeler.yml
  .github/workflows/issue_labeler.yml
Labels: none

Updated issue labeling
  .github/advanced-issue-labeler.yml
  .github/workflows/issue_labeler.yml
Labels: none

Fine tuning auto issue labeling
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/advanced-issue-labeler.yml
  .github/issue-labeler.yml
  .github/workflows/issue_labeler.yml
Labels: none

Update bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

Added feature request type, fine tuned bug
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/advanced-issue-labeler.yml
Labels: none

Update feature_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: none

Update HomeAssistant.md
  HomeAssistant.md
Labels: Documentation

Update advanced-issue-labeler.yml
  .github/advanced-issue-labeler.yml
Labels: none

Renamed threads
  software/src/BudapestMetroDisplay/esphome.py
  software/src/BudapestMetroDisplay/webserver.py
Labels: none

Fixed links in pyproject.toml
  software/pyproject.toml
Labels: Software

Bumped sacn version to 1.10.0
  software/requirements.txt
Labels: Software

Update CHANGELOG.md
  software/CHANGELOG.md
Labels: Documentation, Software

Added stale issue and PR handling workflow
  .github/workflows/stale.yml
Labels: none

Added lock issues and PRs workflow
  .github/workflows/lock-issue-pr.yml
Labels: none
