Repository denes44/BudapestMetroDisplay, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, esphome, hardware, software, ha-addon, proxmox-script

.github/labeler.yml:

# Add 'Documentation' label to any change to .md files within the entire repository 
documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  
esphome:
- changed-files:
  - any-glob-to-any-file: esphome/*

hardware:
- changed-files:
  - any-glob-to-any-file: hardware/*

software:
- changed-files:
  - any-glob-to-any-file: software/*

ha-addon:
- changed-files:
  - any-glob-to-any-file: ha-addon/*

proxmox-script:
- changed-files:
  - any-glob-to-any-file: proxmox-script/*

Made ESPHome API key optional
  software/CHANGELOG.md
  software/src/BudapestMetroDisplay/esphome.py
  software/tests/test_config.py
Labels: documentation, software

Cleaned up requirements
  software/CHANGELOG.md
  software/requirements.txt
Labels: documentation, software

Added requirements.txt as a CI trigger
  .github/workflows/python_ci.yml
Labels: none

Removed newline
  software/requirements.txt
Labels: software

Fixed pydantic_core version in requirements.txt
  software/requirements.txt
Labels: software

Fixed wrong ESPHome client initialization
  software/src/BudapestMetroDisplay/esphome.py
Labels: none

Removed required config value for ESPHome API key
  software/src/BudapestMetroDisplay/config.py
Labels: none

Initial docker configuration
  .github/workflows/docker-ci.yml
  docker/.dockerignore
  docker/Dockerfile
  docker/README.md
  docker/compose.yaml
Labels: documentation

Changes username location to secrets
  .github/workflows/docker-ci.yml
Labels: none

Change builder to subfolder
  .github/workflows/docker-ci.yml
Labels: none

Fixed add user command
  docker/Dockerfile
Labels: none

Added build dependencies
  docker/Dockerfile
Labels: none

Add more build dependencies
  docker/Dockerfile
Labels: none

Fine tuning build dependencies
  docker/Dockerfile
Labels: none

Added build dependencies
  docker/Dockerfile
Labels: none

Updated release time in CHANGELOG
  software/CHANGELOG.md
Labels: documentation, software

Update VERSION
  software/src/BudapestMetroDisplay/VERSION
Labels: none

Added manual trigger and path limit to Docker CI
  .github/workflows/docker-ci.yml
Labels: none

Limit Docker CI to Dockerfile only
  .github/workflows/docker-ci.yml
Labels: none

Added PR template
  .github/pull_request_template.md
Labels: documentation
