Repository denes44/BudapestMetroDisplay, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, ESPHome, Hardware, Software

ESPHome Firmware 2024.9.2 release
  esphome/.gitignore
  esphome/firmware/2024.9.2/manifest.json
  esphome/firmware/2024.9.2/metro-display-esp32s3.factory.bin
  esphome/firmware/2024.9.2/metro-display-esp32s3.ota.bin
  esphome/firmware/2024.9.2/metro-display-esp32s3.ota.md5
  esphome/firmware/manifest.json
  esphome/firmware/metro-display-esp32s3.factory.bin
  esphome/firmware/metro-display-esp32s3.ota.bin
  esphome/firmware/metro-display-esp32s3.ota.md5
Labels: ESPHome

wrong version folder
  esphome/firmware/2024.9.2/manifest.json
  esphome/firmware/2024.9.2/metro-display-esp32s3.factory.bin
  esphome/firmware/2024.9.2/metro-display-esp32s3.ota.bin
  esphome/firmware/2024.9.2/metro-display-esp32s3.ota.md5
Labels: none

Use project-version instead of version
  .github/workflows/esphome_publish.yml
Labels: none

Added tag for the build action for esphome firmware build
  .github/workflows/esphome_publish.yml
Labels: none

Bump version to 0.1.1
  esphome/metro-display-core.yaml
Labels: ESPHome

ESPHome Firmware 0.1.1 release
  esphome/firmware/0.1.1/manifest.json
  esphome/firmware/0.1.1/metro-display-esp32s3.factory.bin
  esphome/firmware/0.1.1/metro-display-esp32s3.ota.bin
  esphome/firmware/0.1.1/metro-display-esp32s3.ota.md5
  esphome/firmware/metro-display-esp32s3.ota.md5
Labels: none

Create _latest.txt with the latest esphome version
  .github/workflows/esphome_publish.yml
Labels: none

Changed update URL for the latest firmware version check
  esphome/metro-display-core.yaml
Labels: ESPHome

ESPHome Firmware 0.1.2 release
  esphome/firmware/0.1.2/manifest.json
  esphome/firmware/0.1.2/metro-display-esp32s3.factory.bin
  esphome/firmware/0.1.2/metro-display-esp32s3.ota.bin
  esphome/firmware/0.1.2/metro-display-esp32s3.ota.md5
  esphome/firmware/metro-display-esp32s3.ota.md5
  esphome/firmware/metro-display-esp32s3_latest.txt
Labels: none

Removed separate md5 and version file from ESPHome publish workflow
  .github/workflows/esphome_publish.yml
  esphome/firmware/0.1.1/metro-display-esp32s3.ota.md5
  esphome/firmware/0.1.2/metro-display-esp32s3.ota.md5
  esphome/firmware/metro-display-esp32s3.ota.md5
  esphome/firmware/metro-display-esp32s3_latest.txt
Labels: none

Added error message for the config variables ValidationError
  software/src/BudapestMetroDisplay/config.py
Labels: none

Removed redundant columns from the webserver view
  software/src/BudapestMetroDisplay/templates/schedules.html
  software/src/BudapestMetroDisplay/webserver.py
Labels: none

Modify schedules by adding +/- 3 seconds to the time that comes from the schedule
  software/src/BudapestMetroDisplay/bkk_opendata.py
Labels: none

Added sample .env file with the default values
  software/src/BudapestMetroDisplay/.env.sample
Labels: none

Bumped version for python software
  software/src/BudapestMetroDisplay/VERSION
Labels: none

Finished the Proxmox VE installation script
  software/README.md
  software/proxmox/ct/BudapestMetroDisplay.sh
  software/proxmox/install/.gitignore
  software/proxmox/install/budapestmetrodisplay-install.sh
  software/proxmox/misc/build.func
  software/proxmox/misc/install.func
Labels: Documentation, Software

Added regex validation for ESPHome and BKK API keys
  software/src/BudapestMetroDisplay/config.py
  software/tests/test_config.py
Labels: none

Update CHANGELOG.md
  software/CHANGELOG.md
Labels: Documentation, Software

Configuring MD024 exclude
  .github/rules/custom.markdownlint.jsonc
Labels: none

Fixed lint in CHANGELOG.md
  software/CHANGELOG.md
Labels: Documentation, Software

Update custom.markdownlint.jsonc
  .github/rules/custom.markdownlint.jsonc
Labels: none

Add HA Addon configuration
  repository.yaml
  software/ha_addon/DOCS.md
  software/ha_addon/Dockerfile
  software/ha_addon/README.md
  software/ha_addon/config.yaml
  software/ha_addon/start.sh
  software/ha_addon/translations/en.yaml
Labels: Documentation

Rebase READMEs
  HomeAssistant.md
  README.md
  esphome/README.md
  hardware/README.md
  software/README.md
  software/ha_addon/README.md
Labels: Documentation, ESPHome, Hardware, Software

Enable img HTML tags in Markdown
  .github/rules/custom.markdownlint.jsonc
Labels: none

Added alt text for ESPHome logo
  README.md
  esphome/README.md
  hardware/README.md
Labels: Documentation, ESPHome, Hardware

Only run ESPHome CI for .yaml files
  .github/workflows/esphome_ci.yml
Labels: none

Updated READMEs
  README.md
  esphome/device.md
  hardware/README.md
  hardware/pcb.png
Labels: Documentation, ESPHome, Hardware

Update README.md
  hardware/README.md
Labels: Documentation, Hardware

Added photo of the ESP32 controller
  hardware/README.md
  hardware/esp32-s3.png
Labels: Documentation, Hardware

Refined docs
  README.md
  hardware/README.md
Labels: Documentation, Hardware

Disabled checking links until the repo is public
  .github/workflows/validate_markdown.yml
Labels: none

Update README.md
  README.md
Labels: Documentation

Update README.md
  README.md
Labels: Documentation

Update HomeAssistant.md
  HomeAssistant.md
Labels: Documentation

Added shields
  HomeAssistant.md
  README.md
  esphome/README.md
  software/README.md
Labels: Documentation, ESPHome, Software

Add one more shield
  hardware/README.md
Labels: Documentation, Hardware

Fixed setting destination IP for sACN
  software/src/BudapestMetroDisplay/led_control.py
Labels: none

Added option to set log file directory
  software/src/BudapestMetroDisplay/config.py
  software/src/BudapestMetroDisplay/log.py
Labels: none

Fix flake8 errors
  software/src/BudapestMetroDisplay/config.py
  software/src/BudapestMetroDisplay/led_control.py
Labels: none

Changed pydantic code to try to create log dir if it is not exists
  software/src/BudapestMetroDisplay/config.py
  software/src/BudapestMetroDisplay/log.py
Labels: none

.github/labeler.yml:

# Add 'Documentation' label to any change to .md files within the entire repository 
Documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  
ESPHome:
- changed-files:
  - any-glob-to-any-file: esphome/*

Hardware:
- changed-files:
  - any-glob-to-any-file: hardware/*

Software:
- changed-files:
  - any-glob-to-any-file: software/*
