Repository denes44/BudapestMetroDisplay, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, ESPHome, Hardware, Software

.github/labeler.yml:

# Add 'Documentation' label to any change to .md files within the entire repository 
Documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  
ESPHome:
- changed-files:
  - any-glob-to-any-file: esphome/*

Hardware:
- changed-files:
  - any-glob-to-any-file: hardware/*

Software:
- changed-files:
  - any-glob-to-any-file: software/*

Added changelog for the hardware
  hardware/CHANGELOG.md
Labels: Documentation, Hardware

Update validate_markdown.yml
  .github/workflows/validate_markdown.yml
Labels: none

Update validate_markdown.yml
  .github/workflows/validate_markdown.yml
Labels: none

Update validate_markdown.yml
  .github/workflows/validate_markdown.yml
Labels: none

Update CHANGELOG.md
  hardware/CHANGELOG.md
Labels: Documentation, Hardware

Create pcb_cutout.pdf
  hardware/pcb_cutout.pdf
Labels: Hardware

Update CHANGELOG.md
  hardware/CHANGELOG.md
Labels: Documentation, Hardware

Update README.md
  README.md
Labels: Documentation

Added software project base
  software/.gitignore
  software/CHANGELOG.md
  software/LICENSE
  software/README.md
  software/pyproject.toml
Labels: Documentation, Software

Added resources for software developement
  software/resources/bkk_stop_ids.txt
  software/resources/leds.xlsx
  software/resources/polylines/h5_route.txt
  software/resources/polylines/h6_route.txt
  software/resources/polylines/h7_route.txt
  software/resources/polylines/h8_route.txt
  software/resources/polylines/m1_route.txt
  software/resources/polylines/m2_route.txt
  software/resources/polylines/m3_route.txt
  software/resources/polylines/m4_route.txt
  software/resources/polylines/poly.py
Labels: none

Added incomplete proxmox installation script
  software/proxmox/ct/BudapestMetroDisplay.sh
  software/proxmox/ct/create_lxc.sh
  software/proxmox/install/.gitignore
  software/proxmox/install/budapestmetrodisplay-install.sh
  software/proxmox/misc/alpine-install.func
  software/proxmox/misc/build.func
  software/proxmox/misc/install.func
Labels: none

Update publish-to-pypi.yml
  .github/workflows/publish-to-pypi.yml
Labels: none

Fix lint errors
  README.md
  software/README.md
Labels: Documentation, Software

Create custom.markdownlint.jsonc
  .github/rules/custom.markdownlint.jsonc
Labels: none

Update validate_markdown.yml
  .github/workflows/validate_markdown.yml
Labels: none

Fix lint errors
  README.md
  software/README.md
Labels: Documentation, Software

Fix line break
  software/README.md
Labels: Documentation, Software

Update publish-to-pypi.yml
  .github/workflows/publish-to-pypi.yml
Labels: none

Change to setuptools-git-versioning
  software/pyproject.toml
Labels: Software

Initial version source code
  software/src/BudapestMetroDisplay/.gitignore
  software/src/BudapestMetroDisplay/VERSION
  software/src/BudapestMetroDisplay/__init__.py
  software/src/BudapestMetroDisplay/_version.py
  software/src/BudapestMetroDisplay/aps_helpers.py
  software/src/BudapestMetroDisplay/bkk_opendata.py
  software/src/BudapestMetroDisplay/config.py
  software/src/BudapestMetroDisplay/esphome.py
  software/src/BudapestMetroDisplay/gui.py
  software/src/BudapestMetroDisplay/led_control.py
  software/src/BudapestMetroDisplay/log.py
  software/src/BudapestMetroDisplay/main.py
  software/src/BudapestMetroDisplay/requirements.txt
  software/src/BudapestMetroDisplay/stops.py
Labels: none

Changed version string for CI
  software/pyproject.toml
Labels: Software

Fixed lint errors
  software/src/BudapestMetroDisplay/bkk_opendata.py
  software/src/BudapestMetroDisplay/esphome.py
  software/src/BudapestMetroDisplay/gui.py
  software/src/BudapestMetroDisplay/led_control.py
  software/src/BudapestMetroDisplay/main.py
Labels: none

Update publish-to-pypi.yml
  .github/workflows/publish-to-pypi.yml
Labels: none

Fixed undefined variable
  software/src/BudapestMetroDisplay/bkk_opendata.py
Labels: none

Hide README until project is public
  software/pyproject.toml
Labels: Software

Move the polyline datas to the hardware repo
  esphome/metro-display.factory.yaml
  software/resources/bkk_stop_ids.txt
  software/resources/polylines/h5_route.txt
  software/resources/polylines/h6_route.txt
  software/resources/polylines/h7_route.txt
  software/resources/polylines/h8_route.txt
  software/resources/polylines/m1_route.txt
  software/resources/polylines/m2_route.txt
  software/resources/polylines/m3_route.txt
  software/resources/polylines/m4_route.txt
  software/resources/polylines/poly.py
Labels: ESPHome

Changed project structure
  software/.gitignore
  software/pyproject.toml
  software/qodana.yaml
  software/requirements.txt
  software/src/BudapestMetroDisplay/.gitignore
  software/src/BudapestMetroDisplay/bkk_opendata.py
  software/src/BudapestMetroDisplay/config.py
  software/src/BudapestMetroDisplay/esphome.py
  software/src/BudapestMetroDisplay/gui.py
  software/src/BudapestMetroDisplay/led_control.py
  software/src/BudapestMetroDisplay/log.py
  software/src/BudapestMetroDisplay/main.py
Labels: Software

Change config validation of optional field Make error message user-friendly by catching the exception
  software/src/BudapestMetroDisplay/config.py
Labels: none

Fixed import inside functions
  software/src/BudapestMetroDisplay/gui.py
  software/src/BudapestMetroDisplay/led_control.py
  software/src/BudapestMetroDisplay/main.py
Labels: none

Correct entry point
  software/pyproject.toml
Labels: Software

Fixed problem when the "log" folder did not exist
  software/src/BudapestMetroDisplay/log.py
Labels: none

Removed prints used for debugging
  software/src/BudapestMetroDisplay/led_control.py
Labels: none

Make GUI optional by command line parameter
  software/src/BudapestMetroDisplay/main.py
Labels: none

Handle when GUI window was closed
  software/src/BudapestMetroDisplay/gui.py
Labels: none

Update .gitignore
  software/.gitignore
Labels: Software

Add README_test to hide the real one
  software/README_test.md
  software/pyproject.toml
Labels: Documentation, Software

Added manual trigger to publish-to-pypi.yml
  .github/workflows/publish-to-pypi.yml
Labels: none

Update publish-to-pypi.yml
  .github/workflows/publish-to-pypi.yml
Labels: none

Fix double quotes inside f-string
  software/src/BudapestMetroDisplay/bkk_opendata.py
Labels: none

Removed GUI
  software/src/BudapestMetroDisplay/led_control.py
  software/src/BudapestMetroDisplay/main.py
Labels: none
