Repository denes44/BudapestMetroDisplay, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, ESPHome, Hardware, Software

.github/labeler.yml:

# Add 'Documentation' label to any change to .md files within the entire repository 
Documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
  
ESPHome:
- changed-files:
  - any-glob-to-any-file: esphome/*

Hardware:
- changed-files:
  - any-glob-to-any-file: hardware/*

Software:
- changed-files:
  - any-glob-to-any-file: software/*

Fixed flake8 and mypy errors
  software/src/BudapestMetroDisplay/bkk_opendata.py
Labels: none

Fixed loop variable
  software/src/BudapestMetroDisplay/main.py
Labels: none

Fixed import order
  software/src/BudapestMetroDisplay/main.py
Labels: none

Changed mypy
  .github/workflows/python_ci.yaml
Labels: none

Corrected path for mypy
  .github/workflows/python_ci.yaml
Labels: none

Added config file for mypy
  .github/rules/mypi.ini
  .github/workflows/python_ci.yaml
Labels: none

Update mypi.ini
  .github/rules/mypi.ini
Labels: none

Added annotations
  software/src/BudapestMetroDisplay/bkk_opendata.py
  software/src/BudapestMetroDisplay/led_control.py
  software/src/BudapestMetroDisplay/stops.py
Labels: none

Fixed breaking the logs messages into multiple lines
  software/src/BudapestMetroDisplay/bkk_opendata.py
  software/src/BudapestMetroDisplay/led_control.py
Labels: none

Fixed mypy errors
  software/src/BudapestMetroDisplay/bkk_opendata.py
  software/src/BudapestMetroDisplay/led_control.py
  software/src/BudapestMetroDisplay/stops.py
Labels: none

Fixed mypy errors
  software/src/BudapestMetroDisplay/bkk_opendata.py
  software/src/BudapestMetroDisplay/config.py
  software/src/BudapestMetroDisplay/esphome.py
  software/src/BudapestMetroDisplay/gui.py
  software/src/BudapestMetroDisplay/led_control.py
  software/src/BudapestMetroDisplay/stops.py
Labels: none

Rename python_ci from .yaml to .yml
  .github/workflows/python_ci.yml
Labels: none

Fixed mypy errors
  software/src/BudapestMetroDisplay/log.py
Labels: none

Added mypy ignores for the trace log level
  software/src/BudapestMetroDisplay/bkk_opendata.py
  software/src/BudapestMetroDisplay/led_control.py
  software/src/BudapestMetroDisplay/log.py
Labels: none

Removed continue on errors
  .github/workflows/python_ci.yml
Labels: none

Added more tests for led_control.py
  software/src/BudapestMetroDisplay/led_control.py
  software/tests/test_led_control.py
Labels: none

Fixed line length
  software/tests/test_led_control.py
Labels: none

Update webserver.py
  software/src/BudapestMetroDisplay/webserver.py
Labels: none

Update VERSION
  software/src/BudapestMetroDisplay/VERSION
Labels: none

Changed gh-action-sigstore-python to v3
  .github/workflows/python_ci.yml
Labels: none

Create manual_gh_release.yml
  .github/workflows/manual_gh_release.yml
Labels: none

Update manual_gh_release.yml
  .github/workflows/manual_gh_release.yml
Labels: none

Update manual_gh_release.yml
  .github/workflows/manual_gh_release.yml
Labels: none

Update python_ci.yml
  .github/workflows/python_ci.yml
Labels: none

Update requirements.txt
  software/requirements.txt
Labels: Software

Update CHANGELOG.md
  software/CHANGELOG.md
Labels: Documentation, Software

Update CHANGELOG.md
  software/CHANGELOG.md
Labels: Documentation, Software

Added tests for aps_helpers.py
  software/tests/test_aps_helpers.py
Labels: none

Revert "Added tests for aps_helpers.py"
  software/tests/test_aps_helpers.py
Labels: none

Added tests for aps_helpers.py
  software/tests/test_aps_helpers.py
Labels: none

Added copyright for tests
  software/tests/test_config.py
  software/tests/test_led_control.py
Labels: none

Added ESPHome CI
  .github/workflows/esphome_ci.yml
Labels: none

Update esphome_ci.yml
  .github/workflows/esphome_ci.yml
Labels: none

Continue initial version of ESPHome configuration
  esphome/CHANGELOG.md
  esphome/common/common_api.yaml
  esphome/common/common_stuff.yaml
  esphome/common/common_wifi_api.yaml
  esphome/common/secrets.yaml
  esphome/metro-display-core.yaml
  esphome/metro-display.factory.yaml
  esphome/metro-display.yaml
  esphome/version.yaml
Labels: Documentation, ESPHome

Update esphome_ci.yml
  .github/workflows/esphome_ci.yml
Labels: none

Changed esphome project structure
  .github/workflows/esphome_publish.yml
  esphome/CHANGELOG.md
  esphome/metro-display-core.yaml
  esphome/metro-display.factory.yaml
  esphome/metro-display.yaml
  esphome/version.yaml
Labels: Documentation, ESPHome

Delete esphome-build.yml
  .github/workflows/esphome-build.yml
Labels: none

Update esphome_publish.yml
  .github/workflows/esphome_publish.yml
Labels: none

Corrected name
  esphome/metro-display.factory.yaml
Labels: ESPHome

Update esphome_publish.yml
  .github/workflows/esphome_publish.yml
Labels: none
